@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.header {
  grid-area: header;
  box-sizing: border-box;
  overflow: hidden;
  height: 35vh;
  background-image: linear-gradient(to right, hsla(0deg, 30%, 10%, 0), hsla(0deg, 0%, 0%, 0.5)), url(/assets/lucites2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  box-shadow: 5px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  display: column;
  background-color: rosybrown;
  grid-area: nav;
  position: relative;
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.7);
}
.nav .logo {
  height: 35vh;
}
.nav .logo:hover {
  transform: scale(1.05);
  transition: 400ms;
  filter: brightness(115%);
}
.nav .menu {
  border-style: solid;
  display: column;
  background-image: url(../assets/sakura.png);
  animation: menufondo 3s infinite alternate;
  position: relative;
  width: 100%;
  margin: 1rem;
  margin-bottom: 140rem;
}
.nav ul {
  padding-left: 2rem;
  list-style-type: none;
}
.nav ul li {
  padding-left: 2rem;
  display: column;
  background-image: url(../assets/favicon2.png);
  background-position: 0 0;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
}

@keyframes menufondo {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: rosybrown;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: rosybrown !important;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
.introducción {
  color: rgb(156, 6, 156);
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

p {
  text-align: center;
}

.mainindex {
  grid-area: main;
}

.carousel {
  margin: auto;
  width: 80%;
}
.carousel .carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.carousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
}

#patrones-explicación {
  color: rgb(226, 77, 7);
  margin: 30px;
}

.aside {
  grid-area: aside;
  background-color: rosybrown;
  box-shadow: -3px 1px 5px 0px rgba(0, 0, 0, 0.7);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/pink_rice.png");
}

/* Grid Area */
.contenedor {
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-areas: "nav header aside" "nav main aside" "nav footer aside";
}

@media only screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "aside" "footer";
  }
}

/*# sourceMappingURL=style.css.map */
