@import "./components/header";
@import "./components/nav";
@import "./components/footer";
@import "./components/home";
@import "./components/patrones";
@import "./components/contacto";
@import "./components/amigurumis";
@import "./components/indumentaria";
@import "./components/aside";

//  ajustes generales
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/pink_rice.png");
  //   display: flex;
  //   flex-direction: column;
  //   min-height: 100vh;
}

/* Grid Area */

.contenedor {
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-areas:
    "nav header aside"
    "nav main aside"
    "nav footer aside";
}

//media queries

@media only screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer";
  }
}
