@import "./components/_variables";
@import "./components/header";
@import "./components/nav";
@import "./components/footer";
@import "./components/home";
@import "./components/patrones";
@import "./components/contacto";
@import "./components/amigurumis";
@import "./components/indumentaria";
@import "./components/aside";

//  ajustes generales
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/pink_rice.png");

  
}

/* Grid Area */

.contenedor {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "nav header aside"
    "nav main aside"
    "nav footer aside";
}

//media queries

@media only screen and (max-width: 600px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }
}