.galeria-amigurumis {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    border-radius: 2em;
    box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.4);
    transition: 200ms transform ease-in-out;
    &:hover {
        transform: scale(1.005);
        transform: translateY(-0.5rem);
        box-shadow: 0 0.320em 0.500em 0 rgba(0, 0, 0, 0.8);
    }
    .card-img-top {
        border-radius: 2em 2em 0 0;
        
        
    }
    .btn:hover {
    transform: scale(1.20);
    transition: 400ms;
    filter: brightness(118%);
    }
    
    
}