$headings: (
  h1: 5rem,
  h2: 4rem,
  h3: 5rem,
  h4: 6rem,
);

h1 {
  font-size: map-get($headings, h1);
}

.introducción {
  color: rgb(156, 6, 156);
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

p {
  text-align: center;
}

.mainindex {
  grid-area: main;
  
}

.carousel {
  margin: auto;
  width: 80%;
  .carousel-item {
    &:before {
      content: "";
      background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.6)
      );
      display: block;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
    }
    img {
      object-fit: cover;
      object-position: center;
      height: 70vh;
    }
  }
}
@mixin tamanio($alto, $ancho) {
  height: $alto;
  width: $ancho;
}

.mainmixin {
  @include tamanio(200px, 200px);
  background-image: url(https://images.unsplash.com/photo-1632649027900-389e810204e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
  background-position: center;
  background-repeat: no-repeat;
}

.mainmixin2 {
  @include tamanio(200px, 200px);
  background-image: url(https://images.unsplash.com/photo-1577124999548-1db893a4b7f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
  background-position: center;
  background-repeat: no-repeat;
}
