

.mainindex {
  grid-area: main;


  .carousel {
    margin: auto;
    width: 80%;
    .carousel-item {
      overflow: hidden;
      &:before {
        content: "";
        background-image: linear-gradient(
          to bottom,
          transparent,
          rgba(0, 0, 0, 0.6)
        );
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
      .img-carousel {
        object-fit: cover;
        object-position: center;
        height: 70vh;
        overflow: hidden;
      }
}
   
  }
}



.introindex {
  display: flex;
  justify-content: center;
  font-family:'Roboto Slab', serif;
  padding: 4em;
  font-size: clamp(0.59rem, 1vw, 2rem);
  height: 21em;
  text-align: center;
  box-shadow: 0.3125em 0.3125em 0.9375em rgba($boton, .5);
  border-radius: 1em;
  background-color: #F5F5F5;
  margin: 2em auto;
  width: 40vw;
  
  
  
  
  &:hover {
    box-shadow: 0 0 0.500em 0 rgba(0, 0, 0, 0.5);
    
  } 
  
   
  .mi-nombre {
    font-size: clamp(0.6rem, 1.5vw, 2rem);
    letter-spacing: 0.3em;
    
  }
     .lucila {
      color: $boton;
      font-size: clamp(0.6rem, 1.5vw, 2rem);
     letter-spacing: 0.3em;
     }

  .foto-luli {
        
    margin-left: 1em;
    
    
    
  }
}


.video-main {
  margin: auto;
  
  
}



@media only screen and (max-width: 600px) {
  .carousel {
    width: 100%;
  }

  .introindex {
    width: 90%;
    

    .mi-nombre {
      margin-top: -2em;
    }
    
  }

  .video-main {
    margin-top: 1em;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}