$headings: (
  h1: 5rem,
  h2: 4rem,
  h3: 5rem,
  h4: 6rem,
);

h1 {
  font-size: map-get($headings, h1);
}


p {
  text-align: center;
}

.mainindex {
  grid-area: main;
  
}

.carousel {
  margin: auto;
  width: 80%;
  .carousel-item {
    &:before {
      content: "";
      background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.6)
      );
      display: block;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
    }
    img {
      object-fit: cover;
      object-position: center;
      height: 70vh;
    }
  }
}
