.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  @include primario;
  grid-area: nav;
  position: relative;
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.7);
  
  

  
  

  .logo {
    height: 35vh;
    margin-top: 0.2em;
    
    
  
  }

  .logo:hover {
    transform: scale(1.05);
    transition: 400ms;
    filter: brightness(115%);
  }
}

#menunav {
  align-items: flex-start;
  margin-top: 1em;
  margin-left: 3.5em;
  
  
  
  
  

    .menu {
      border-style: solid;
      border-color: rosybrown;
      display: column;
      background-image: url(../assets/sakura.png);
      animation: menufondo 3s infinite alternate;
      width: 85%;
      
           
    
  
  
 
}
}

ul {
  
  list-style-type: none;
  text-align: center;

    
  .lista-menu {
    
    background-image: url(../assets/favicon2.png);
    background-position: 0 0;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    margin-left: 1em;
    



    a {
       color: #fcf5e5;
      text-decoration: none;
            
    }
  }

  .css-button-arrow--rose {
    
    text-decoration: none;
    min-width: 14rem;
    height: 2.5rem;
    color: #fff;
    padding: 0.3125em 0.625em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 0.3125em;
    border: none;
    background-color: $boton;

  }

  .css-button-arrow--rose:hover {
    border-radius: 0.313em;
    padding-right: 1.5em;
    padding-left: 0.5em;
  }

  .css-button-arrow--rose:hover:after {
    opacity: 1;
    right: 0.625rem;
  }

  .css-button-arrow--rose:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 1.25em;
    line-height: 1.8em;
    top: 0;
    right: -1.25em;
    transition: 0.4s;
  }

  .css-button-arrow--rose--2 {
    @extend .css-button-arrow--rose;
  }

  .css-button-arrow--rose--2:after {
    content: "\2603";
  }

  .css-button-arrow--rose--3 {
    @extend .css-button-arrow--rose;
  }

  .css-button-arrow--rose--3:after {
    content: "\2764";
  }

  .css-button-arrow--rose--4 {
    @extend .css-button-arrow--rose;
  }

  .css-button-arrow--rose--4:after {
    content: "\273F";
  }

  .css-button-arrow--rose--5 {
    @extend .css-button-arrow--rose;
  }

  .css-button-arrow--rose--5:after {
    content: "\270D";
  }
}

@keyframes menufondo {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}